@CHARSET "ISO-8859-1";

body {
    background-image: url("/images/background.jpg");
    background-repeat: no-repeat;
    background-position: left top;
    background-attachment: fixed;
}

table {
	text-shadow: 1px 1px aliceblue;
    border-collapse: collapse;
    width: 100%;
}

th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

tr:hover {background-color: aliceblue}

.message {
	color : aliceblue;
    display: none;
}