@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro);
@CHARSET "ISO-8859-1";

input[type=input] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid;
    border-radius: 4px;
}

#resID {
  width: 30%;
}

input[type=date] {
    width: 50%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid;
    border-radius: 4px;
}

body {
    background-image: url("/images/background.jpg");
    background-repeat: no-repeat;
    background-position: left top;
    background-attachment: fixed;
}

label {
    color : white;
    display: block;
    margin-top: 15px;
}

button,
#listOfRes,
#makeARes {
    display: block;
    margin-top: 15px;
    box-sizing: border-box;
    border: 2px solid;
    border-radius: 4px;
}

.message {
    display: none;
}

.container {
  height: 100%;
  width: 100%;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
}